= simple_form_for [:admin, @showcase] do |f|
  = f.error_notification
  .form-inputs
    = f.input :title
    = f.input :description, input_html: {rows: 6, class: 'span9'}
    - if @showcase.can_toggle_activity?
      = f.input :active, as: :boolean

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = yield