= simple_form_for(@product) do |f|
  .span12= f.error_notification
  .span6
    .form-inputs
      = f.input :title
      = f.input :description, input_html: {rows: 6, class: 'span6'}
      = f.input :price
      = f.input :image
      = f.input_field :image_cache, as: :hidden

    .form-actions
      = f.button :submit, class: 'btn btn-primary'
      - if action_name == 'edit'
        = link_to 'Show', product_path(@product), class: 'btn btn-small'
        = link_to 'New', new_product_path, class: 'btn btn-small'
      = link_to 'Gallery', products_path, class: 'btn btn-small'
  .span6
    - if @product.image?
      = image_tag @product.image_url
