#product.row
  .info.span6
    %h1= @product.title
    %p= @product.description
    .btn-toolbar
      =render 'toolbar', :product => @product
      .btn-group= link_to 'Edit', edit_product_path(@product), class: 'btn btn-warning btn-small'
      .btn-group= link_to 'Gallery', products_path, class: 'btn btn-small'

  .gallery.span6
    .main-image= image_tag @product.image_url



