!!!
%html
  = render "layouts/head"
  %body
    = render "layouts/navbar"
    .container
      .row
        .span9
          - if notice
            .alert.alert-success= notice
          = yield
        .span3
          %ul.nav.nav-list
            %li= link_to "Showcases", admin_showcases_path
